@import '../../../assets/scss/global';

.productCategoryPreviewContainer {

  //min-height: 850px;

  .categoryInfo {
    position: relative;
    .categoryName {
      text-align: center;
      font-size: 40px;
      margin-top: 40px;
      color: $cl-primary;
      font-weight: bold;
    }

    .categoryImage {
      position: absolute;
      top: -70px;
      right: 150px;

      img {
        max-width: 180px;
        max-height: 160px;
      }
    }
  }

  .categoryDescription {
    margin: {
      top: 30px;
      bottom: 30px;
    };
    text-align: center;
    color: $cl-normal;
  }

  .breadcrumbs {
    margin-top: 0px;
    padding: 25px 0;
    background: $cl-2;
    color: $cl-normal;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;

      > div:not(:first-child) {
        margin-left: 40px;
      }

      .showAllProductsIcon {
        cursor: pointer;
      }

      .arrow {
        font-size: 140%;
        opacity: 0.6;
      }

      .categoryNameDisplay {
        display: flex;
        flex-direction: row;

        .image {
          img {
            width: 30px;
            height: 40px;
          }
        }

        .textContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0px;
          justify-content: center;

          .text {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            color: $cl-primary;
          }

          .name {
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
              color: $cl-secondary;
            }
          }
        }
      }

    }


  }
  // .breadcrumbs

  .subcategoryListing {
    margin: {
      top: 30px;
      bottom: 30px;
    };

    .title {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .productListing {
    $minHeight: 309px;
    margin-top: 40px;
    margin-bottom: 40px;

    .loadingContainer {
      background-color: $cl-2;
      height: $minHeight;

      &.dismiss {
        animation: {
          name: fadeOut;
          duration: 250ms;
          fill-mode: forwards;
        }
      }

      .content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .noProducts {
      padding: 40px 0;
      border: 1px solid $cl-normal;
      border-radius: 2px;
      background-color: $cl-2;
      min-height: $minHeight;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      animation: {
        name: fadeIn;
        duration: 1s;
        fill-mode: forwards;
        delay: 100ms;
      }

      .title {
        font-size: 26px;
        margin-top: 20px;
        color: $cl-normal;
        font-weight: bold;
      }

      .subtitle {
        margin-top: 10px;
      }

      .button {
        margin-top: 20px;
      }

      i {
        color: $cl-normal;
      }
    }

    .productsCatalogue {
      margin-top: 20px;
      margin-bottom: 40px;

      .titlePlaceholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
          color: $cl-primary;
        }

        .title {
          margin-left: 10px;
          font-size: 30px;
          color: $cl-normal;
          font-weight: bold;
        }
      }

      .description {
        margin-top: 0px;
        color: $cl-normal;
        opacity: 0.7;
      }
    }

    // Styling of the single product preview
    .singleProduct {
      display: flex;
      flex-direction: column;
      opacity: 0;
      animation: {
        name: fadeIn;
        duration: 300ms;
        fill-mode: forwards;
      }

      &:nth-child(n+5) {
        margin-top: 80px;
      }

      .content {
        background-color: lighten($cl-2, 15%);
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        border: 2px dashed lighten($cl-normal, 50%);
        border-radius: 2px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: $cl-2;
          border-color: $cl-normal;
        }

        &:active {
          opacity: 0.8;
          transform: scale3d(0.9,0.9,0.9);
        }

        &:not(:first-child) {
          margin-left: 10px;
        }

        .image {
          display: flex;
          align-items: center;
          height: 100%;

          img {
            max-height: 350px;
          }
        }

        .title {
          margin-top: 20px;
          font-weight: bold;
          font-size: 22px;
          color: $cl-normal;
        }
      }
    }

    .showMoreButtonPlaceholder {
      display: flex;
      align-items: center;
      justify-content: center;

      .showMoreButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
        padding: 15px 40px;
        border: 2px dashed lighten($cl-normal, 50%);
        background-color: lighten($cl-2, 15%);
        cursor: pointer;

        &:hover {
          border-color: $cl-normal;
          background-color: $cl-2;
        }

        &.isLoading {
          cursor: not-allowed;
          opacity: 0.8;
          &:hover {
            border: 2px dashed lighten($cl-normal, 50%);
            background-color: lighten($cl-2, 15%);
          }
        }
        
        &.noActionButton {
          opacity: 0.5;
          &:hover {
            border: 2px dashed lighten($cl-normal, 50%);
            background-color: lighten($cl-2, 15%);
            cursor: default;
            opacity: 0.5;
          }
        }

        .icon {
          color: $cl-primary;
        }

        .text {
          margin-left: 15px;
          color: $cl-normal;
          font-size: 18px;
        }

      }
    }


  }

}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}