@import "../../../assets/scss/global";

.buttonPlaceholder {
  padding: 10px 25px;
  background-color: transparent;
  color: $cl-normal;
  border: 2px solid $cl-normal;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $cl-normal;
    color: $cl-2;
  }

  &:active {
    opacity: 0.8;
  }
}