@import "../../../assets/scss/global";

.buttonPlaceholder {
  display: inline-block;
  padding: 10px 25px;
  background-color: transparent;
  color: $cl-normal;
  border: 2px solid $cl-normal;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $cl-normal;
    color: $cl-2;
  }

  &:active {
    opacity: 0.8;
  }

  &.primary {
    border: 2px solid $cl-primary;
    color: $cl-primary;

    &:hover {
      background-color: $cl-primary;
      color: $cl-2;
    }

    &.isFull {
      background-color: $cl-primary;
      color: $cl-2;

      &:hover {
        background-color: lighten($cl-primary, 5%);
      }
    }
  }
}