@import '../../../assets/scss/global';
@import '../../../assets/scss/media-query';

.splide.splide-thumbnail
{

  @include media-query-xs {
    &.dont-show-thumbnails {
      display: none;
    }
  }

  .splide__slide.is-active {
    border: 3px solid $cl-normal;
    opacity: 1;
  }

  &.splide-thumbnail-vertical {
    .splide__arrow.splide__arrow--prev {
      top: -20px;
    }

    .splide__arrow.splide__arrow--next {
      bottom: 0;
    }
  }
}

.splide .splide__track {
  height: 100%;
}
