$cl-primary: #679436;
$cl-secondary: #A5BE00;
$cl-normal: #064789;
$cl-1: #427AA1;
$cl-2: #EBF2FA;

.loader {
  width: 70px;
  height: 70px;
  display: block;
  border: 10px solid $cl-2;
  border-bottom-color: $cl-normal;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.mainContainer {
  min-height: 350px;
  position: relative;

  .loaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.25s;

    .loaderText {
      margin-top: 20px;
      font-size: 24px;
      color: $cl-normal;
      opacity: 0.7;
    }

    .loader {

    }

    &.loaded {
      opacity: 0;
    }

  }
}

.categoriesPlaceholder {

  .singleCategory {

    display: flex;
    animation-name: show-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-top: 40px;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      cursor: pointer;
      transition: 0.2s;
      position: relative;
      overflow: hidden;

      background: $cl-2;
      border-radius: 10px;
      padding: 30px 15px;
      margin: {
        right: 15px;
      }
      -webkit-box-shadow: 2px -1px 17px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px -1px 17px -8px rgba(0,0,0,0.75);
      box-shadow: 2px -1px 17px -8px rgba(0,0,0,0.75);


      .imagePlaceholder {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;

        img {
          max-height: 250px;
          transition: 0.2s;
        }
      }

      .categoryTitle {
        color: $cl-primary;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
      }

      .subcategoriesContent {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $cl-secondary;
        transition: 0.2s;
        opacity: 0.5;

        .threeDots {
          background-color: $cl-secondary;
          color: $cl-2;
          border-radius: 50%;
          margin-left: 5px;
          padding: 3px 10px
        }

        &.noOpacity {
          opacity: 0;
        }

        &:hover {
          opacity: 1;
        }
      }
      .subcategoriesOverlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $cl-2;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        transform: translateX(0);
        transition: 0.7s;
        transition-timing-function: cubic-bezier(.17,.67,.05,.99);
        cursor: auto;
        display: flex;
        flex-direction: column;
        
        &.noDisplay {
          transform: translateX(300px);
        }

        .nameContainer {
          display: flex;
          flex-direction: row;;
          align-items: center;
          border-bottom: 1px dashed $cl-secondary;
          width: 100%;

          .icon {
            padding: 15px 15px;
            color: $cl-secondary;
            border-right: 1px dashed $cl-secondary;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background-color: lighten($cl-secondary, 30%);
            }
          }
          .text {
            padding: 10px 15px 10px 10px;
            color: $cl-secondary;
            font-weight: bold;
            font-size: 16px;

            .smallText {
              text-transform: uppercase;
              font-size: 10px;
              color: black;
              line-height: 10px;
              opacity: 0.5;
            }

            .categoryName {
              line-height: 16px;
            }
          }
        }

        .subcategoryList {
          height: 100%;
          overflow-y: auto;
          &::-webkit-scrollbar-track
          {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar
          {
            width: 6px;
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar-thumb
          {
            background-color: #000000;
          }

          .subcategoryListPlaceholder {
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }

          .singleSubcategory {
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              background-color: lighten($cl-secondary, 30%);
              color: $cl-1;

              .openArrow {
                transform: translateX(0);
              }
            }

            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
              img {
                width: 40px;
                height: 40px;
              }
            }

            .name {
              padding-left: 10px;
              width: 100%;
            }

            .openArrow {
              padding: 10px;
              color: $cl-normal;
              transition: 0.2s;
              transform: translateX(100px);
            }
          }
        }
        // .subcategoryList

        .seeAllCategories {
          padding: 10px;
          text-align: center;
          color: $cl-2;
          background-color: $cl-primary;
          transition: 0.2s;
          cursor: pointer;

          .text {
            padding-left: 10px;
          }

          &:hover {
            background-color: lighten($cl-primary, 5%);
          }
        }
      }
      // .subcategoryOverlay


      &:hover {
        .imagePlaceholder {
          img {
            transform: scale3d(1.12,1.12,1.12);
          }
        }
      }


      &.noZoom {
        .imagePlaceholder {
          img {
            transform: scale3d(1.12, 1.12, 1.12);
          }
        }

        &:active {
          opacity: 1;
        }
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}

@keyframes show-in {
  from {
    opacity: 0;
    transform: scale3d(0.9,0.9,0.9);
  }
  to {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

.noOpacity {
  opacity: 0;
}


